{% extends "base.html" %}

{% block content %}
<div class="products-container">

    <!-- Buton pentru a adăuga un tricou nou -->
    <!-- <a href="{% url 'home' %}"> -->
        <div class="add-product">Adaugă Tricou</div>
    <!-- </a> -->

    <!-- Iterăm prin lista de produse -->
    {% for product in object_list %}
    <div class="product-card">
        <div class="title-team">
            <!-- Afișăm numele tricoului -->
            <span>{{ product.name }}</span>
            <!-- Afișăm echipa sau categorie -->
            <span>{{ product.team }}</span>
            <div>
                <!-- Link pentru editarea produsului -->
                <!-- <a href="{% url 'home' %}"> -->
                    <!-- Icon edit (poți păstra sau schimba SVG) -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="20">
                        <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                    </svg>
                <!-- </a> -->
                <!-- Link pentru ștergerea produsului -->
                <!-- <a href="{% url 'home' %}"> -->
                    <!-- Icon trash -->
                    <svg class="trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="20">
                        <path d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M9,8H11V17H9V8M13,8H15V17H13V8Z" />
                    </svg>
                <!-- </a> -->
            </div>
        </div>

        <!-- Descrierea tricoului -->
        <div class="description">
            <span>{{ product.description }}</span>
        </div>
        
        <!-- Alte detalii, ex: pret și mărime -->
        <div class="details">
            <span>Preț: {{ product.price }} lei</span>
            <span>Mărime: {{ product.size }}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
